<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grants Portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!--Search Bar-->

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FE96GTPFL8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FE96GTPFL8');
</script>

</head>
<body>
    <header>
        <div class="logo-container">
            <a  href="/"><img class="logo" src= /images/logo.png></img></a>
        </div>
        <div>
        <nav>
            <ul>
                <li></li>
                <li><a href="#" onclick="openTab('verify-claim')">Verify Claim</a></li>
                <li><a href="#" onclick="openTab('view-project')">View Projects</a></li>
                <li><a href="#" onclick="openTab('new-project')">New Project</a></li>
                
            </ul>
        </nav>
    </div>
    </header>

    <div class="content">
        <div id="grant-call" class="tab-content">
            <div style="position: relative; width: 100%; height: 0; padding-top: 56.2225%;
            padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
            border-radius: 8px; will-change: transform;">
            <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGGbvCcYPM&#x2F;_BXPBncPXiN0_KcHi2tWjg&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
            </iframe>
            </div>
        </div>
        
        <div id="verify-claim" class="tab-content" style="display:none;">
 
                    <h3 style="text-align: left;">Reimbursement claims received</h3>
                
                    <!-- Table to display project data -->
                    <label for="claimStatus">Select Claim Status:</label>
                    
                      <select id="claimStatus">
                        <option value="pending" selected>Pending</option>
                        <option value="approved">Approved</option>
                        <option value="rejected">Rejected</option>
                    </select>
                    
                    <table class="projecttable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Project Title</th>
                                <th>Project Approved Amount</th>
                                <th>Amount Utilised</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Agency</th>
                                <th>Claim Amount</th>
                                <th>Submission Date</th>
                                <th>Claim Status</th>
                                <th>Applicant Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="data-table">
                            <!-- Inside the table's tbody -->
                            <% projects.forEach(project => { %>
                                <tr data-proj-id="<%= project.proj_id %>" data-applicant-email="<%= project.applicant_email %>">
                                    <td class="proj-id"><%= project.proj_id %></td>
                                    <td class="proj-title"><%= project.proj_title %></td>
                                    <td class="proj-app-amt"><%= project.proj_app_amt %></td>
                                    <td class="proj-amt-uti"><%= project.proj_amt_uti %></td>
                                    <td class="proj-start-date"><%= project.proj_start_date %></td>
                                    <td class="project-end-date"><%= project.project_end_date %></td>
                                    <td class="proj-agency"><%= project.proj_agency %></td>
                                    <td class="claim-amount"><%= project.claim_amount %></td>
                                    <td class="claim-date"><%= project.claim_date %></td>
                                    <td class="claim-status"><%= project.claim_status %></td>
                                    <td class="applicant-email"><%= project.applicant_email %></td>
                                    <td>
                                        <button class="approve-btn" data-proj-id="<%= project.proj_id %>">Approve</button>
                                        <button class="reject-btn" data-proj-id="<%= project.proj_id %>">Reject</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table> 
                
        </div>
        
        <div id="view-project" class="tab-content" style="display:none;">
            <h3 style="text-align: left;">View all projects</h3>

            <table class="projecttable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Title</th>
                        <th>Project Approved Amount</th>
                        <th>Amount Utilised</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Agency</th>
                        
                    </tr>
                </thead>
                <tbody id="data-table">
                    <!-- Inside the table's tbody -->
                    <% projects.forEach(project => { %>
                        <tr data-proj-id="<%= project.proj_id %>" data-applicant-email="<%= project.applicant_email %>">
                            <td class="proj-id"><%= project.proj_id %></td>
                            <td class="proj-title"><%= project.proj_title %></td>
                            <td class="proj-app-amt"><%= project.proj_app_amt %></td>
                            <td class="proj-amt-uti"><%= project.proj_amt_uti %></td>
                            <td class="proj-start-date"><%= project.proj_start_date %></td>
                            <td class="project-end-date"><%= project.project_end_date %></td>
                            <td class="proj-agency"><%= project.proj_agency %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table> 

        </div>

        <div id="new-project" class="tab-content" style="display:none;">
            <h3 style="text-align: center;">Create new project</h3>
            
            <form id="submitForm">
                <label for="proj_title">Project Title:</label>
                <input type="text" id="proj_title" name="proj_title" required><br>
                <label for="proj_app_amt">Project Approved Amount:</label>
                <input type="number" id="proj_app_amt" name="proj_app_amt" required><br>
                
                <!-- Add other input fields here -->
                <label for="proj_amt_uti">Amount Utilised:</label>
                <input type="number" id="proj_amt_uti" name="proj_amt_uti" required><br>
                <label for="proj_start_date">Project Start Date:</label>
                <input type="date" id="proj_start_date" name="proj_start_date" required><br>
                <label for="project_end_date">Project End Date:</label>
                <input type="date" id="project_end_date" name="project_end_date" required><br>
                <label for="proj_agency">Agency:</label>
                <input type="text" id="proj_agency" name="proj_agency" required><br>
                
                <input type="hidden" id="claim_amount" name="claim_amount" value="0"><br>
                <label for="applicant_name">Claim IC Name:</label>
                <input type="text" id="applicant_name" name="applicant_name" required><br>
                <label for="applicant_email">Claim IC Email:</label>
                <input type="email" id="applicant_email" name="applicant_email" required><br>
        
                <!-- These fields are hidden and populated by JavaScript -->
                <input type="hidden" id="proj_id" name="proj_id">
                <input type="hidden" id="claim_status" name="claim_status" value="Pending">
                <input type="hidden" id="claim_date" name="claim_date">
        
                <button class="navigate-btn" type="submit" onclick="newClaim()">Create New Project</button>
            </form>
    </div>
        </div>
    </div>



    <footer>
        <p>&copy; 2024 Grantopia. All rights reserved.</p>
        <div class="disclaimer">
            <p>Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
        </div>
    </footer>
    <script>
        //Data table functions sort by claim status start
        document.addEventListener('DOMContentLoaded', function() {
            var claimStatusDropdown = document.getElementById('claimStatus');
            var rows = document.querySelectorAll('#data-table tr');
        
            // Set default selection to 'Pending' after the DOM has loaded
            claimStatusDropdown.value = 'pending';
        
            // Event listener for dropdown list change
            claimStatusDropdown.addEventListener('change', function() {
                var status = this.value.toLowerCase();
        
                // Loop through each row and show/hide based on selected status
                rows.forEach(function(row) {
                    var claimStatusCell = row.querySelector('td:nth-child(10)'); // Assuming claim status is in the 10th column
                    var rowStatus = claimStatusCell.innerText.toLowerCase();
                    if (status === 'all' || rowStatus === status) {
                        row.style.display = ''; // Show row if 'all' is selected or claim status matches selected status
                    } else {
                        row.style.display = 'none'; // Hide row if claim status doesn't match selected status
                    }
                });
            });
        
            // Trigger change event for the dropdown list after setting default value
            var event = new Event('change');
            claimStatusDropdown.dispatchEvent(event);
        });
        //Data table functions sort by claim status end
        
        // approve & delete button start
            document.addEventListener('DOMContentLoaded', function() {
                const approveButtons = document.querySelectorAll('.approve-btn');
                const rejectButtons = document.querySelectorAll('.reject-btn');

                approveButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        const projId = this.getAttribute('data-proj-id');
                        // Implement the logic to handle approve action here
                        // You can call a function to perform the action or directly execute the code here
                    });
                });

                rejectButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        const projId = this.getAttribute('data-proj-id');
                        // Implement the logic to handle reject action here
                        // You can call a function to perform the action or directly execute the code here
                    });
                });
            });
        // approve & delete button end
        </script>
    
</body>
</html>
